<!DOCTYPE html>
<html>
  <head>
    <title>Dawon Careers</title>
    {% include 'bootstrap.html' %}
    <style>
      h1 {
        font-weight : bold;
        font-family: Times, "Times New Roman", serif;
      }
      h2 {
        font-family: Times, "Times New Roman", serif;
        color: rgb(100, 100, 100);
      }
    </style>
  </head>
  
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class = "container">
      
      <h1 class="text-center mt-4 mb-4">포트폴리오</h1>
      <h2 class="text-center mt-2 mb-4">이다원 프로그래머에 대하여</h2>
      
      <div class="row text-center">
        
        <div class="col-md-6">
          <p class="lead">
            안녕하세요. 컴퓨터 공학을 전공한 이다원입니다. 저는 2023년도 9월부터 KIST에서 학연생으로 일하며 프로그래밍 실무 경험을 쌓았습니다. 헬스케어 애플리케이션을 개발하고 이를 상용화할 수 있도록 만드는 것이 저의 목표입니다. 또한 장애인들을 위한 보조기기를 위한 아이디어를 제시하고, 이를 구현하는데 보탬이 되어 드릴 것입니다.
          </p>
        </div>
        
        <div class="col-md-6 .d-sm-none .d-md-block">
          <img src="/static/me.jpg" style="height:320px; border-radius:5px; margin-bottom:4px">
        </div>
        
      </div>


      <h2 class="text-center mt-4 mb-4">프로젝트 소개</h2>
      <p>
        <div>
          {% for project in projects %}
            {% include 'projectitem.html' %}
          {% endfor %}
        </div>
      </p>
      
      <div class="text-center">
        <a href="mailto:lid0927@naver.com?subject=About%20{{author_name}}%20Portfolio&body=Name%20%3A%20%3Cname%3E%0D%0AQuestion%20%3A%20%3Cquestion%3E%0D%0AContact%20%3A%20%3Ccontact%3E%0D%0ALink%20%3A%20%3Clink%3E" type="button" class="btn btn-outline-primary">연락처</a>
        <p class="mt-4">Copyright 2024, DW</p>
      </div>
    
    </div>
    
    {% include 'footer.html' %}
  </body>
</html>