<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:4px">
  <div class="col-10">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px">
      {{project['topic']}}</h4>

    {%if 'descriptions' in project %}
    <div>
      <b>Project</b>: {{project['descriptions']}}
    </div>
    {% endif %}

    {% if 'languages' in project %}
    <div>
      <b>Languages</b>: {{project['languages']}}
    </div>
    {% endif %}
    
  </div>

  <div class="col-2">
    <a href="https://google.com" type="button" class="btn btn-outline-primary">자세히</a>
  </div>
</div>