<!DOCTYPE html>
<html>
  <head>
    <title>{{project.topic}}- Dawon Projects</title>
    {% include 'bootstrap.html' %}
  </head>

  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class = "container">

      <h3 class="mb-3">{{project.topic}}</h3>  
      
      <h4>Description</h4>
      <ul>
        {% for line in project.descriptions.split(",") %}
          <li>{{line}}</li>
        {% endfor %}
      </ul>
      
      <h4>Language</h4>
      <ul>
        {% for line in project.languages.split(",") %}
          <li>{{line}}</li>
        {% endfor %}
      </ul>

        {% include 'application_form.html' %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>